.decrypted*.yml

# Project
docs/nvim/tags

# direnv
.direnv

# terraform
.terraform
*.tfstate.backup
*.tfstate.lock.info
.terraform-deploy-key

# terranix
config.tf.json

# Private keys
configuration/hosts/*/ssh_host_rsa_key
configuration/hosts/*/ssh_host_ed25519_key

# demo user
configuration/users/demo/age-key.txt
configuration/hosts/demovm/secrets.tmp
configuration/hosts/demovm/ssh_host_rsa_key.pub
configuration/hosts/demovm/ssh_host_ed25519_key.pub
disk-demo.raw
result

# Some secrets
*.openstackrc
*.priv

# AI pair programming
.aider*

