.decrypted*.yml

# Project
docs/nvim/tags

# direnv
.direnv

# Private keys
hosts/*/ssh_host_rsa_key
hosts/*/ssh_host_ed25519_key

# demo user
users/demo/age-key.txt
hosts/demovm/secrets.tmp
hosts/demovm/ssh_host_rsa_key.pub
hosts/demovm/ssh_host_ed25519_key.pub
disk-demo.raw
result
